// Departments menu
ul.navbar-nav.navbar-mega-nav.pe-lg-2.me-lg-2
  li.nav-item.dropdown
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle.ps-lg-0
      //- i.ci-earphones.me-2
      | Headphones
    .dropdown-menu.px-2.pb-4
      .d-flex.flex-wrap.flex-sm-nowrap
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/over-ear-and-on-ear-headphones').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/headphones-01.jpg' alt='Over-Ear & On-Ear Headphones')
            h6.fs-base.text-center.mb-2 Over-Ear & On-Ear
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/in-ear-headphones').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/headphones-02.jpg' alt='In-Ear Headphones')
            h6.fs-base.text-center.mb-2 In-Ear
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/tws-headphones').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/headphones-03.jpg' alt='TWS Headphones')
            h6.fs-base.text-center.mb-2 TWS Headphones
        