// Departments menu
ul.navbar-nav.navbar-mega-nav.pe-lg-2.me-lg-2
  li.nav-item.dropdown
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle.ps-lg-0
      i
      | Accessories
    .dropdown-menu.px-2.pb-4
      .d-flex.flex-wrap.flex-sm-nowrap
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/earpad-cushions').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/accessories-01.jpg' alt='Earpad Cushions')
            h6.fs-base.text-center.mb-2 Earpad Cushions
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/audio-cables').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/accessories-02.jpg' alt='Audio Cables')
            h6.fs-base.text-center.mb-2 Audio Cables
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/headbands').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/accessories-03.jpg' alt='Headbands')
            h6.fs-base.text-center.mb-2 Headbands
        