// Departments menu
ul.navbar-nav.navbar-mega-nav.pe-lg-2.me-lg-2
  li.nav-item.dropdown
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle.ps-lg-0
      i
      | Speakers
    .dropdown-menu.px-2.pb-4
      .d-flex.flex-wrap.flex-sm-nowrap
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/smart-home').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/speaker-01.jpg' alt='Smart Home')
            h6.fs-base.text-center.mb-2 Smart Home
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/portable-bluetooth').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/speaker-02.jpg' alt='Portable Bluetooth')
            h6.fs-base.text-center.mb-2 Portable Bluetooth
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/home-theater').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/speaker-03.jpg' alt='Home Theater')
            h6.fs-base.text-center.mb-2 Home Theater
        .mega-dropdown-column.pt-4.px-3
          .widget.mb-2
            a(href='/collections/record-player').d-block.mb-3
              img(src='/assets/theme/img/shop/departments/speaker-04.jpg' alt='Record Player')
            h6.fs-base.text-center.mb-2 Record Player
        